**POSTTEST 4**


**Import Library**

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

**Info Data**

In [4]:
df = pd.read_csv("bank-additional-full.csv", delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

Panjang pada Kolom dan Attribut

In [5]:
df.shape

(41188, 21)

**1. Membagi dataset menjadi training set dan testing set dengan proporsi 70:30**

In [7]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (28831, 20)
Dimensi X_test (12357, 20)
Dimensi y_train (28831,)
Dimensi y_test (12357,)

**2. Melakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler dengan mengcopy dataset terlebih dahulu**

In [12]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["duration"]]

normalization = min_max.fit_transform(dataCopy_normalization[["duration"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["duration_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["duration_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   duration  duration_normalisasi
0       261              0.053070
1       149              0.030297
2       226              0.045954
3       151              0.030704
4       307              0.062424
5       198              0.040260
6       139              0.028264
7       217              0.044124
8       380              0.077267
9        50              0.010167

**3. Melakukan standarisasi pada dataset dengan membuat copy dataset terlebih dahulu**

In [16]:
df_copy = df.copy()
columns_to_scale = ['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

scaler = StandardScaler()
df_copy[columns_to_scale] = scaler.fit_transform(df_copy[columns_to_scale])

In [17]:
print("Data Sebelum Scaling:")
print(df[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(df_copy[columns_to_scale].head())

Data Sebelum Scaling:
   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed
0           1.1          93.994          -36.4      4.857       5191.0
1           1.1          93.994          -36.4      4.857       5191.0
2           1.1          93.994          -36.4      4.857       5191.0
3           1.1          93.994          -36.4      4.857       5191.0
4           1.1          93.994          -36.4      4.857       5191.0

Data Sesudah Scaling:
   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed
0      0.648092        0.722722       0.886447    0.71246      0.33168
1      0.648092        0.722722       0.886447    0.71246      0.33168
2      0.648092        0.722722       0.886447    0.71246      0.33168
3      0.648092        0.722722       0.886447    0.71246      0.33168
4      0.648092        0.722722       0.886447    0.71246      0.33168

**4. Lakukan Data cleaning pada data dengan nilai null dengan bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus**

- Mengecek nilai null

In [18]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

- Karena Data tidak ada yang bernilai null maka dibuat

In [20]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None

df.age[[15,100,200,300,400,500,600,700,800,900,1000]]=None;
df.euribor3m[[15,100,200,300,400,500,600,700,800,900,1000]]=None;
df.job[[15,100,200,300,400,500,600,700,800,900,1000]]=None;

df[df.isnull().any(axis=1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
15,NaN,None,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
100,NaN,None,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
200,NaN,None,married,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
300,NaN,None,single,high.school,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
400,NaN,None,single,high.school,no,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
500,NaN,None,married,university.degree,unknown,no,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
600,NaN,None,single,university.degree,no,yes,yes,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
700,NaN,None,married,basic.9y,no,yes,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
800,NaN,None,single,basic.4y,unknown,yes,no,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
900,NaN,None,divorced,professional.course,no,yes,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no
1000,NaN,None,married,basic.4y,no,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,NaN,5191.0,no

- Data Bilangan Bulat dengan Strategi Median

In [21]:
strategi1 = SimpleImputer(strategy="median")

df["age"] = strategi1.fit_transform(df[["age"]])

df.isna().sum()

age                0
job               11
marital            0
education          0
default            0
housing            0
loan               0
contact            0
month              0
day_of_week        0
duration           0
campaign           0
pdays              0
previous           0
poutcome           0
emp.var.rate       0
cons.price.idx     0
cons.conf.idx      0
euribor3m         11
nr.employed        0
y                  0
dtype: int64

In [23]:
print(df.age[[15,100,200,300,400,500,600,700,800,900,1000]])

15      38.0
100     38.0
200     38.0
300     38.0
400     38.0
500     38.0
600     38.0
700     38.0
800     38.0
900     38.0
1000    38.0
Name: age, dtype: float64

- Data Bilangan Desimal dengan Strategi Mean

In [24]:
strategi2 = SimpleImputer(strategy="mean")

df["euribor3m"] = strategi2.fit_transform(df[["euribor3m"]])

df.isna().sum()

age                0
job               11
marital            0
education          0
default            0
housing            0
loan               0
contact            0
month              0
day_of_week        0
duration           0
campaign           0
pdays              0
previous           0
poutcome           0
emp.var.rate       0
cons.price.idx     0
cons.conf.idx      0
euribor3m          0
nr.employed        0
y                  0
dtype: int64

In [25]:
print(df.euribor3m[[15,100,200,300,400,500,600,700,800,900,1000]])

15      3.620961
100     3.620961
200     3.620961
300     3.620961
400     3.620961
500     3.620961
600     3.620961
700     3.620961
800     3.620961
900     3.620961
1000    3.620961
Name: euribor3m, dtype: float64

- Data Tulisan dengan Strategi Modus

In [26]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

df["job"] = strategi3.fit_transform(df[["job"]])

df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [27]:
print(df.job[[15,100,200,300,400,500,600,700,800,900,1000]])

15      admin.
100     admin.
200     admin.
300     admin.
400     admin.
500     admin.
600     admin.
700     admin.
800     admin.
900     admin.
1000    admin.
Name: job, dtype: object

**5. Lakukan Data cleaning pada data dengan nilai duplikat.**

In [31]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

12

In [32]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

**6. Mengganti tipe data salah satu attribute angka**

- Mengganti tipe data pdays yang sebelumnya int menjadi float

In [35]:
print("Tipe data pdays Sebelum di ubah :")
df.dtypes

Tipe data pdays Sebelum di ubah :

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [36]:
df['pdays'] = df['pdays'].astype('float64')

print("Tipe data pdays sesudah di ubah :")
df.dtypes

Tipe data pdays sesudah di ubah :

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

**7. Melakukan one hot encoding pada dataset**

In [38]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["education"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,nr.employed,y,0,1,2,3,4,5,6,7
0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,5191.0,no,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,57.0,services,married,high.school,unknown,no,no,telephone,may,mon,...,5191.0,no,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,37.0,services,married,high.school,no,yes,no,telephone,may,mon,...,5191.0,no,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,40.0,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,5191.0,no,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,56.0,services,married,high.school,no,no,yes,telephone,may,mon,...,5191.0,no,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0